<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css">
    <title>Trello Power-Up: Board Copier</title>
    <style>
      body {
        padding-top: 5rem;
      }
      
      .landing {
        padding: 3rem 1.5rem;
        text-align: center;
      }
      .github-fork-ribbon::before, .github-fork-ribbon::after  {
        box-sizing: content-box;
      }
    </style>
  </head>
  <body>
    <script src="https://trello.com/power-ups/power-up.js"></script>
    <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://trello.com/1/client.js?key=17ccd791431275b4c0afade4c83763bf"></script>
    <script src="/client.js"></script>
    <a class="github-fork-ribbon" href="https://github.com/patcon/trello-powerup-board-copier" title="Contribute on GitHub">Contribute on GitHub</a>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Trello Power-Up: Board Copier</a>
    </nav>
    <main role="main" class="container">
      <div class="landing">
        <h1>
          Not a whole lot to see here, huh?
        </h1>
        <p>
          Please see the <a href="http://github.com/patcon/trello-powerup-board-copier#readme">project README</a>
          on GitHub for details on how this works!
        </p>
      </div>
    </main>
  </body>
</html>
